@model CombinedDiscountTabsViewModel
@{
    Layout = "_AdminLayout";
}

@{
    var discountGridViewData = new ViewDataDictionary(ViewData)
    {
        ["Parent"] = Model.DiscountList,
    };
    var productListGridViewData = new ViewDataDictionary(ViewData)
    {
        ["Parent"] = Model.ProductList
    };
    var productDiscountGridViewData = new ViewDataDictionary(ViewData)
    {
        ["Parent"] = Model.ProductDiscounts
    };
   
}
<ul class="nav nav-tabs mb-3" id="discountTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab">Discount List</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="apply-tab" data-bs-toggle="tab" data-bs-target="#apply" type="button" role="tab">Apply Discount</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="remove-tab" data-bs-toggle="tab" data-bs-target="#remove" type="button" role="tab">Remove Discount</button>
    </li>
   
</ul>

<div class="tab-content  p-3" id="discountTabsContent">
    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
        @await Html.PartialAsync("_Grid.Discounts", null, discountGridViewData)
    </div>
    <div class="tab-pane fade" id="apply" role="tabpanel" aria-labelledby="apply-tab">
        @await Html.PartialAsync("~/Areas/Admin/Views/Product/Grids/_Grid.Products.cshtml", null, productListGridViewData)
    </div>
    <div class="tab-pane fade" id="remove" role="tabpanel" aria-labelledby="remove-tab">
        @await Html.PartialAsync("~/Areas/Admin/Views/Discount/_Grid.ProductDiscounts.cshtml", null, productDiscountGridViewData)
    </div>
   
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function() {
            // Initialize tabs properly
            $('#discountTabs').on('shown.bs.tab', function (e) {
                // Refresh any datagrids in the newly shown tab
                var target = $(e.target).attr("data-bs-target");
                $(target).find('[data-init-grid]').each(function() {
                    $(this).data('datagrid')?.read();
                });
            });

            // Ensure modals work in all tabs
            $(document).on('click', '.modal-footer .btn', function(e) {
                e.preventDefault();
                var modal = $(this).closest('.modal');
                var grid = $('#discounts-grid').data('datagrid');
                
                if ($(this).hasClass('btn-danger')) {
                    // OK button
                    grid?.deleteSelectedRows();
                }
                modal.modal('hide');
            });
        });
    </script>
}
<style>
    /* Default appearance */
    .nav-tabs .nav-link {
        border: none;
        border-bottom: 3px solid transparent;
        color: #1c484c;
        font-weight: 500;
        margin-right: 10px;
    }

    /* Hover state for better UX */
    .nav-tabs .nav-link:hover {
        border-bottom: 3px solid #ccc;
        background-color: transparent;
    }

    /* Active tab underline */
    .nav-tabs .nav-link.active {
        border-bottom: 3px solid #1c484c;
        background-color: transparent;
        color: #1c484c;
    }

    /* Optional: remove default nav-tabs bottom border */
    .nav-tabs {
        border-bottom: none;
    }

    /* Optional: content area padding only */
    .tab-content {
        padding: 16px 0;
    }
</style>