@* @model ProductDiscountViewModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Admin.Promotions.Discounts.ProductDiscounts").Value;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-tags"></i>
        @T("Admin.Promotions.Discounts.ProductDiscounts")
    </div>
</div>

<div class="section-body">
        @await Html.PartialAsync("~/Areas/Admin/Views/Discount/_Grid.ProductDiscounts.cshtml", null)
</div> *@
