@using Smartstore.Web.Models.Customers
@model CustomerContactInfoModel

<div class="mb-2">
    <strong>User Name:</strong> @Model.Username
</div>

<div class="mb-2">
    <strong>Phone:</strong> @Model.Phone
</div>
