//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

.menubar-inverse.menubar-section {
    border-bottom: 0; 
}

body #header,
body #header{
   background-color: rgba(139, 69, 19, 0.8) !important;
}
 #header,
//  #header .shopbar,
 #header {
     background-image: url('/Themes/Brown/images/brown bg.png') !important;
     background-repeat: repeat !important;
     background-size: cover !important;
     background-position: center !important;
 }
 #footer, .footer {
     background-image: url('/Themes/Brown/images/brown bg.png');
   // background-color: rgba(233, 164, 28, 0.8) !important;
    background-repeat: repeat !important;
    background-size: cover !important;
    background-position: center !important;
// #footer, .footer {
//    background-color: rgba(139, 69, 19, 0.8) !important;

}
 #header a:hover,
 #header .header-nav-link:hover,
 #header .navbar-link:hover,
#header button:hover,
#header .navbar-tool:hover,
 #header .navbar-label:hover,
#header .navbar-icon:hover,
#footer a:hover {
    color: #fac519 !important;
    transition: background 0.2s, color 0.2s;
}


// Dropdown background color
// .dropdown-menu,
// .header-dropdown,
// .navbar-dropdown,
// .menu-dropdown,
// .megamenu,
// .dropdown-content {
//     background-color: #8d5321 !important;
// }