//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

.menubar-inverse.menubar-section {
    border-bottom: 0; 
}

body #header,
body #header{
   background-color: rgba(139, 69, 19, 0.8) !important;
}

#footer, .footer {
   background-color: rgba(139, 69, 19, 0.8) !important;
}