@using Smartstore.Admin.Models.MerchantStores
@model MerchantStoreModel


<div class="form-group">
    <smart-label asp-for="SearchMerchantStoreName" />
    <editor asp-for="SearchMerchantStoreName" asp-template="SearchExpression" />
</div>