@{
    ViewBag.Title = "Payment Successful";
}
<h2>Payment Successful</h2>
<p>Your payment was successful!</p>
<p>Order ID: @ViewBag.OrderId</p>
<p>Amount Paid: @ViewBag.Amount</p>
<p>Your order will be processed shortly.</p> 